Source: pyaardvark
Section: python
Priority: optional
Maintainer: Michael Walle <michael.walle@kontron.com>
Build-Depends: debhelper (>= 7.3.5), python-all-dev (>=2.6.6-3~)
Standards-Version: 3.8.2
X-Python-Version: >= 2.6

Package: python-aardvark
Architecture: i386
Depends: ${python:Depends}, ${misc:Depends}, ${shlibs:Depends}, libusb-0.1-4, python-pkg-resources
Description: Total Phase Aardvark interface for Python
 pyAardvark is a thin wrapper around the binary-only python module supplied by
 the vendor. It allows easier pythonic programming.
